{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": ["warn"],
    "max-len": ["warn", {"code": 120, "tabWidth": 2, "ignoreComments": true, "ignoreStrings": true, "ignoreTemplateLiterals": true}],
    "no-console": ["off"],
    "react/prop-types": ["warn"]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.6.3"
    }
  }
}
