{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": ["warn"],
    "max-len": ["warn", {"code": 80, "tabWidth": 2, "ignoreComments": true}],
    "react/prop-types": ["warn"]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "16.6.3"
    }
  }
}
